* {
    margin: 0;
    padding: 7px;
    color: white;
}

body {
    background-color: #1f242d;
    width: 100%;
}

.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftnavbar div {
    display: flex;
    align-items: center;
}

.logoimg {
    border-radius: 50%;
    max-width: 70px;
    max-height: 70px;
}

.logotxt {
    text-decoration: none;
    font-family: MV Boli;
    font-size: 35px;
    text-shadow: 0px 0px 20px blue;
    cursor: default;
}

.rightnavbar a {
    text-decoration: none;
    font-size: 18px;
    margin-right: 5px;
    font-weight: 500;
}

.rightnavbar a:hover {
    color: orange;
    text-decoration: underline;
}

.rightnavbar a.active {
    color: #0ef;
}

.nav-links li {
    list-style: none;
}

.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
    color: white;
}

input[type=checkbox] {
    display: none;
}

/* HAMBURGER MENU */
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

/* ****************************** INDEX.HTML ************************************** */

.home {
    position: relative;
    display: table;
    height: 80vh;
    width: 100%;
}

.split {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 50%;
    padding: 1rem;
}

/* Style inside the centered container */
.centered {
    align-items: center;
    text-align: center;
}

.centered img {
    width: 60%;
    border-radius: 18px;
}

.centered h1 {
    color: peachpuff;
    text-shadow: 0px 0px 12px purple;
}

.centered h3 {
    color: wheat;
}


.feedback {
    position: relative;
}

.passion {
    margin-left: -100px;
}

.passion h2 span {
    position: absolute;
    margin-top: -5.5px;
}

.student {
    animation-name: student;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes student {
    0% {opacity: 0;}
    25% {opacity: 1;}
    50% {opacity: 0;}
    75% {opacity: 0;}
    100% {opacity: 0;}
}
.coder {
    animation-name: coder;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes coder {
    0% {opacity: 0;}
    25% {opacity: 0;}
    50% {opacity: 1;}
    75% {opacity: 0;}
    100% {opacity: 0;}
}
.gamer {
    animation-name: gamer;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes gamer {
    0% {opacity: 0;}
    25% {opacity: 0;}
    50% {opacity: 0;}
    75% {opacity: 1;}
    100% {opacity: 0;}
}
.developer {
    animation-name: developer;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes developer {
    0% {opacity: 0;}
    25% {opacity: 0;}
    50% {opacity: 0;}
    75% {opacity: 0;}
    100% {opacity: 1;}
}
.trial {
    animation-name: trial;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes trial {
    0% {opacity: 0;}
    25% {opacity: 0;}
    50% {opacity: 0;}
    75% {opacity: 0;}
    100% {opacity: 0;}
}

/* Style of Timeline SECTION */
/*
.timeline {
    position: relative;
}

.container {
    position: relative;
    padding: 10px 50px;
    width: 46%;
}

.left-container {
    left: 0;
}

.right-container {
    left: 50%;
}

.container box-icon {
    position: absolute;
    right: -20px;
    top: 50px;
    z-index: 10;
}

.right-container box-icon {
    left: -20px;
}

.text-box {
    position: relative;
    padding: 20px 30px;
    background: white;
    border-radius: 8px;
    font-size: 19px;
}

.text-box h2 {
    color: red;
}

.text-box small {
    color: blue;
}

.text-box ul, li {
    color: black;
    font-weight: 500;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: white;
    left: 52%;
    top: 0;
    z-index: -1;
    margin-left: -3px;
} */

/* ------------------------------------------- */

/* Style of Popular Projects SECTION */
.projects {
    position: relative;
}

.subheadBorder {
    height: 0.5mm;
    border-width: 0;
    width: 15%;
    background-color: purple;
}

.headTitle h2 {
    text-decoration: double underline;
}

.content-container {
    position: relative;
}

.content {
    border: 1px solid white;
    width: 95%;
    margin-top: 12px;
    margin-right: 18px;
}

.content h3 {
    text-decoration: underline;
}

.content div {
    display: flex;
    align-items: center;
}

.content div img {
    max-width: 70px;
    max-height: 70px;
}

.content a {
    color: blue;
}

.content-insider {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-insider button {
    background-color: blueviolet;
    cursor: pointer;
    padding: 8px;
    font-size: large;
    font-weight: bold;
}

.content-insider button:hover {
    background-color: aqua;
}

/* Style of Feedback SECTION */
.feedinput {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.feedinput h4 {
    width: 40%;
}

.feedinput input {
    color: black;
    background-color: antiquewhite;
    width: 100%;
}

.feedinput textarea {
    color: black;
    background-color: antiquewhite;
    width: 100%;
}

#submitbtn {
    color: black;
    background-color: red;
    font-weight: bolder;
    font-size: large;
    padding: 8px;
    cursor: pointer;
}

#submitbtn:hover {
    background-color: #0ef;
}



/* Style for the phone view */
@media screen and (max-width: 700px) {
    body {
        width: auto;
    }

    .header {
        width: 100%;
    }

    /* customizing hamburger */
    .menu {
        display: none;
        position: relative;
        background-color: black;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
    }

    .menu li:hover {
        display: block;
        background-color: teal;
        transition: 0.3s ease;
    }

    .menu li+li {
        margin-top: 12px;
    }

    input[type=checkbox]:checked~.menu {
        display: block;
    }

    .hamburger {
        display: block;
    }

    /* ------------------------------------------- */

    .split {
        display: block;
        width: auto;
    }

    .socialicons {
        display: grid;
        grid-template-columns: auto auto auto;
    }
}