@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");

* {
    margin: 0;
    padding: 7px;
    color: white;
}

body {
    background-color: #1f242d;
    width: 100%;
}

.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftnavbar div {
    display: flex;
    align-items: center;
}

.logoimg {
    border-radius: 50%;
    max-width: 70px;
    max-height: 70px;
}

.logotxt {
    text-decoration: none;
    font-family: MV Boli;
    font-size: 35px;
    text-shadow: 0px 0px 20px blue;
    cursor: default;
}

.rightnavbar a {
    text-decoration: none;
    font-size: 18px;
    margin-right: 5px;
    font-weight: 500;
}

.rightnavbar a:hover {
    color: orange;
    text-decoration: underline;
}

.rightnavbar a.active {
    color: #0ef;
}

.nav-links li {
    list-style: none;
}

.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
    color: white;
}

input[type=checkbox] {
    display: none;
}

/* HAMBURGER MENU */
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

/* ****************************** INDEX.HTML ************************************** */

.home {
    position: relative;
    display: table;
    height: 80vh;
    width: 100%;
}

.split {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 50%;
    padding: 1rem;
}

/* Style inside the centered container */
.centered {
    align-items: center;
    text-align: center;
}

.centered img {
    width: 60%;
    border-radius: 18px;
}

.centered h1 {
    color: peachpuff;
    text-shadow: 0px 0px 12px purple;
}

.centered h3 {
    color: wheat;
}


.feedback {
    position: relative;
}

.passion {
    margin-left: -100px;
}

.passion h2 span {
    position: absolute;
    margin-top: -5.5px;
}

.student {
    animation-name: student;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes student {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.coder {
    animation-name: coder;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes coder {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.gamer {
    animation-name: gamer;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes gamer {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.developer {
    animation-name: developer;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes developer {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.trial {
    animation-name: trial;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes trial {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

/* ---------------------------------------------------- */

/* Style of Timeline SECTION */
.timeline {
    margin: 5em auto;
    max-width: 34.15em;
}

.myimg {
    margin-bottom: -15px;
    margin-left: 37%;
    border-radius: 50%;
    max-width: 120px;
    max-height: 120px;
}

.checkpoint {
    max-width: 34em;
    padding-top: 2em;
    padding-bottom: 2em;
    position: relative;
}

.text-box {
    border: 2px solid yellow;
    border-radius: 8px;
    padding: 1.5em;
    background-image: url('/static/images/timeline-background1.jpeg');
    background-size: cover;
}

.checkpoint:nth-child(odd) {
    border-left: 3px solid white;
    padding-left: 3em;
    transform: translateX(16.95em);
}

.checkpoint:nth-child(even) {
    border-right: 3px solid white;
    padding-right: 3em;
    transform: translateX(-17em);
}

.checkpoint:nth-child(odd)::before,
.checkpoint:nth-child(even)::before {
    content: '';
    background: white;
    width: 3em;
    height: 3px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.checkpoint:nth-child(odd)::before {
    left: 0;
}

.checkpoint:nth-child(even)::before {
    right: 0;
}

.checkpoint:nth-child(odd) div::before,
.checkpoint:nth-child(even) div::before {
    content: '';
    background: white;
    box-shadow: 0 0 0.5em red;
    width: 0.8em;
    height: 0.8em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
}

.checkpoint:nth-child(odd) div::before {
    left: -0.5em;
}

.checkpoint:nth-child(even) div::before {
    right: -0.5em;
}


.text-box h2 {
    color: red;
    font-weight: 700;
    font-size: 30px;
}

.text-box small {
    color: blue;
}

.text-box ul,
li {
    font-weight: 500;
    font-size: 22px;
    color: black;
}

/* ------------------------------------------- */

/* Style of Popular Projects SECTION */
.projects {
    position: relative;
}

.subheadBorder {
    height: 0.5mm;
    border-width: 0;
    width: 15%;
    background-color: purple;
}

.headTitle h2 {
    text-decoration: double underline;
}

.content-container {
    position: relative;
}

.content {
    border: 1px solid white;
    width: 95%;
    margin-top: 12px;
    margin-right: 18px;
}

.content h3 {
    text-decoration: underline;
}

.content div {
    display: flex;
    align-items: center;
}

.content div img {
    max-width: 70px;
    max-height: 70px;
}

.content a {
    color: blue;
}

.content-insider {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-insider button {
    background-color: blueviolet;
    cursor: pointer;
    padding: 8px;
    font-size: large;
    font-weight: bold;
}

.content-insider button:hover {
    background-color: aqua;
}

/* Style of Feedback SECTION */
.feedinput {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.feedinput h4 {
    width: 40%;
}

.feedinput input {
    color: black;
    background-color: antiquewhite;
    width: 100%;
}

.feedinput textarea {
    color: black;
    background-color: antiquewhite;
    width: 100%;
}

.submitbtn {
    color: black;
    background-color: red;
    font-weight: bolder;
    font-size: large;
    padding: 8px;
    cursor: pointer;
}

.submitbtn:hover {
    background-color: #0ef;
}



/* Style for the phone and tab view */
@media screen and (max-width: 800px) {
    body {
        width: auto;
    }

    .header {
        width: 100%;
    }

    /* customizing hamburger */
    .menu {
        display: none;
        position: relative;
        background-color: black;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
    }

    .menu li:hover {
        display: block;
        background-color: teal;
        transition: 0.3s ease;
    }

    .menu li+li {
        margin-top: 12px;
    }

    input[type=checkbox]:checked~.menu {
        display: block;
    }

    .hamburger {
        display: block;
    }

    /* ------------------------------------------- */

    /* customizing social media icons */
    .split {
        display: block;
        width: auto;
    }

    .socialicons {
        display: grid;
        grid-template-columns: auto auto auto;
    }

    /* ---------------------------------------- */

    /* customizing timeline */
    .timeline {
        width: 80vw;
    }

    .myimg {
        margin-bottom: 16px;
        margin-left: 40%;
        border-radius: 50%;
        max-width: 70px;
        max-height: 70px;
    }

    .timeline .checkpoint {
        width: 100%;
        transform: none;
        padding-left: 0;
        padding-right: 0;
        border: none;
    }

    .timeline .checkpoint::before {
        width: 3px;
        height: 4em;
        top: -2em;
        left: 50%;
        transform: translateX(-50%);
    }

    .timeline .checkpoint div::before {
        top: -0.5em;
        left: 50%;
        transform: translateX(-50%);
    }

    .subheadBorder {
        width: 40%;
    }

    /* Customizing Certifications */
    .certification {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
    font-family: 'DM Sans', sans-serif;
    transition: background .4s ease-in;
    background-color: #1f242d;
    }

    .certi {
    width: 20%;
    height: 10%;
    border-radius: 10px;
    object-fit: cover;
    }

    .container {
    width: 20%;
    max-width: 100px;
    max-height: 10%;
    height: 10%;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    }

    .card {
    position: absolute;
    width: 20%;
    height: 10%;
    left: 0;
    right: 0;
    margin: auto;
    transition: transform .4s ease;
    cursor: pointer;
}
}

/* Style for Certification Section */
.certification {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
    font-family: 'DM Sans', sans-serif;
    transition: background .4s ease-in;
    background-color: #1f242d;

    &.blue {
        background-color: #428aa6;
    }
}

input[type=radio] {
    display: none;
}

.card {
    position: absolute;
    width: 80%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    transition: transform .4s ease;
    cursor: pointer;
}

.container {
    width: 100%;
    max-width: 800px;
    max-height: 100%;
    height: 100%;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cards {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

.certi {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

#item-1:checked~.cards #certificate-8,
#item-8:checked~.cards #certificate-7,
#item-7:checked~.cards #certificate-6,
#item-6:checked~.cards #certificate-5,
#item-5:checked~.cards #certificate-4,
#item-4:checked~.cards #certificate-3,
#item-3:checked~.cards #certificate-2,
#item-2:checked~.cards #certificate-1 {
    transform: translatex(-40%) scale(.8);
    opacity: .4;
    z-index: 0;
}

#item-1:checked~.cards #certificate-2,
#item-2:checked~.cards #certificate-3,
#item-3:checked~.cards #certificate-4,
#item-4:checked~.cards #certificate-5,
#item-5:checked~.cards #certificate-6,
#item-6:checked~.cards #certificate-7,
#item-7:checked~.cards #certificate-8,
#item-8:checked~.cards #certificate-1 {
    transform: translatex(40%) scale(.8);
    opacity: .4;
    z-index: 0;
}

#item-1:checked~.cards #certificate-1,
#item-2:checked~.cards #certificate-2,
#item-3:checked~.cards #certificate-3,
#item-4:checked~.cards #certificate-4,
#item-5:checked~.cards #certificate-5,
#item-6:checked~.cards #certificate-6,
#item-7:checked~.cards #certificate-7,
#item-8:checked~.cards #certificate-8 {
    transform: translatex(0) scale(1);
    opacity: 1;
    z-index: 1;

    .certi {
        box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
    }
}

/* .player {
    background-color: #fff;
    border-radius: 8px;
    min-width: 320px;
    padding: 16px 10px;
}

.upper-part {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    height: 36px;
    overflow: hidden;
}

.play-icon {
    margin-right: 10px;
} */

.certificate-info {
    width: calc(100% - 32px);
    display: block;
}

.certificate-info .title {
    color: #403d40;
    font-size: 14px;
    line-height: 24px;
}

.sub-line {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* .subtitle,
.time {
    font-size: 12px;
    line-height: 16px;
    color: #c6c5c6;
}

.time {
    font-size: 12px;
    line-height: 16px;
    color: #a5a5a5;
    font-weight: 500;
    margin-left: auto;
}

.progress-bar {
    height: 10px;
    width: 100%;
    background-color: #e9efff;
    border-radius: 2px;
    overflow: hidden;
}

.progress {
    display: block;
    position: relative;
    width: 60%;
    height: 100%;
    background-color: #2992dc;
    border-radius: 6px;
} */

.info-area {
    width: 100%;
    position: absolute;
    top: 0;
    left: 30px;
    transition: transform .4s ease-in;
}