{% extends "base.html" %}
{% block content %}

{% load static %}

<div>
    <img class="certi" src="{% static 'images/Certificate-Rishi1.jpg' %}" alt="certificate">
</div>

<div>
    <img class="certi" src="{% static 'images/Certificate-Rishi3.jpg' %}" alt="certificate">
</div>

<div>
    <img class="certi" src="{% static 'images/Certificate-Rishi4.jpg' %}" alt="certificate">
</div>

<div>
    <img class="certi" src="{% static 'images/Certificate-Rishi6.jpg' %}" alt="certificate">
</div>

<div>
    <img class="certi" src="{% static 'images/Certificate-Rishi8.jpg' %}" alt="certificate">
</div>

<div>
    <img class="certi" src="{% static 'images/Certificate-Rishi10.jpg' %}" alt="certificate">
</div>

<div>
    <img class="certi" src="{% static 'images/Certificate-Rishi11.jpg' %}" alt="certificate">
</div>

<div>
    <img class="certi" src="{% static 'images/Certificate-Rishi12.jpg' %}" alt="certificate">
</div>


{% endblock content %}