{% load static %}

<header class="header">
    <nav class="leftnavbar">
        <div>
            <img src="{% static 'images/imgRishi.png' %}" alt="rishi" class="logoimg">
            <a href="{% url 'index' %}" class="logotxt">Portfolio</a>
        </div>
    </nav>

    <nav class="rightnavbar">
        <ul class="nav-links">

            <!-- For hamburger in phoneview -->
            <input type="checkbox" id="checkbox_toggle" />
            <label for="checkbox_toggle" class="hamburger">&#9776;</label>

            <div class="menu">
                <li><a href="{% url 'index' %}" class="active">Home</a></li>
                <li><a href="{% url 'About' %}">About</a></li>
                <li><a href="{% url 'Contact' %}">Contact</a></li>
                <li><a href="{% url 'https://drive.google.com/file/d/1f_sN6M-8SIgsNBs0SCSfwmt0MKFM-pYI/view?usp=sharing' %}">Resume</a></li>
            </div>
        </ul>
    </nav>
</header>