{% extends "base.html" %}
{% block title %} Rishi's Portfolio {% endblock %}

{% block body %}

{% load static %}

<body>
    <section class="home">
        <div class="split right">
            <div class="centered">
                <img class="imagesize" src="{% static 'images/imgRishi.png' %}" alt="img">
            </div>
        </div>

        <div class="split left">
            <div class="centered">
                <h1>Heyy, this side Rishi Raj</h1>
                <div class="passion">
                    <h2>I'm a
                        <span class="student">Student</span>
                        <span class="coder">Coder</span>
                        <span class="gamer">Gamer</span>
                        <span class="developer">Developer</span>
                        <span class="trial">Trial</span>
                    </h2>
                </div>
                <h3>Student of B.Tech IT in GL Bajaj Institute of Technology & Management</h3>
                <p>
                    A passionate student for coding, programming and also gaming. My goal is to eventually be able to
                    develop a program that help at a large scale and solve problems in the future.
                </p>


                <div class="socialicons">
                    <a href="https://www.linkedin.com/in/rishii-raj/"><box-icon size="lg" color="skyblue" type='logo'
                            name='linkedin-square' class="bx-tada-hover"></box-icon></a>
                    <a href="https://github.com/itzz-rr"><box-icon size="lg" color="white" type='logo' name='github'
                            class="bx-tada-hover"></box-icon></a>
                    <a href="https://www.instagram.com/itzzz_rr"><box-icon size="lg" color="palevioletred" type='logo'
                            name='instagram' class="bx-tada-hover"></box-icon></a>
                    <a href="https://www.youtube.com/@rishiscaptures"><box-icon size="lg" color="red" type='logo'
                            name='youtube' class="bx-tada-hover"></box-icon></a>
                    <a href="https://twitter.com/itzzz_rr"><box-icon size="lg" color="dodgerblue" type='logo'
                            name='twitter' class="bx-tada-hover"></box-icon></a>
                    <a href="https://steamcommunity.com/id/rishi-raj/"><box-icon size="lg" color="blue" type='logo'
                            name='steam' class="bx-tada-hover"></box-icon></a>
                </div>
            </div>
        </div>
    </section>
    <!-- ============================================================================================== -->


    <!-- ============================================================================================== -->
    <section class="timeline-section">

        <div class="headTitle">
            <hr class="subheadBorder">
            <h2>Life Learnings</h2>
        </div>

        <div class="timeline">

            <div>
                <img src="{% static 'images/imgRishi.png' %}" alt="rishi" class="myimg">
            </div>

            <div class="checkpoint">
                <div class="text-box">
                    <h2>2019-20</h2>
                    <small>(class 11th)</small>
                    <ul>
                        <li>Python</li>
                        <li>MySQL</li>
                    </ul>
                </div>
            </div>

            <div class="checkpoint">
                <div class="text-box">
                    <h2>2020-21</h2>
                    <small>(class 12th)</small>
                    <ul>
                        <li>DJango</li>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>C++</li>
                    </ul>
                </div>
            </div>

            <div class="checkpoint">
                <div class="text-box">
                    <h2>2021-22</h2>
                    <small>(Drop Year)</small>
                    <ul>
                        <li>JAVA</li>
                        <li>Linux</li>
                        <li>Batch</li>
                    </ul>
                </div>
            </div>

            <div class="checkpoint">
                <div class="text-box">
                    <h2>2022-23</h2>
                    <small>(college 1st Year)</small>
                    <ul>
                        <li>Dart</li>
                        <li>Flutter</li>
                        <li>C</li>
                    </ul>
                </div>
            </div>

            <div class="checkpoint">
                <div class="text-box">
                    <h2>2023-24</h2>
                    <small>(college 1st Year)</small>
                    <ul>
                        <li>Figma</li>
                        <li>Firebase</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- ============================================================================================== -->


    <!-- ============================================================================================== -->
    <section class="projects">
        <div class="headTitle">
            <hr class="subheadBorder">
            <h2>Special Projects</h2>
        </div>

        <div class="content-container">
            <article class="content">
                <div class="content-insider">
                    <h3>Area-Volume Calculator</h3>
                    <h4>Language: C++</h4>
                </div>
                <div>
                    <img src="{% static 'images/area-volumeCalci.png' %}" alt="">
                    <p>
                        This is basically a simple terminal based Calculator, which calculates areas and volumes of
                        of few existings shapes. It is coded in C++ languange.
                    </p>
                </div>
                <div class="content-insider">
                    <a href="#">Read Full Article...</a>
                    <button onclick="window.location.href = '#'">Download</button>
                </div>
            </article>

            <article class="content">
                <div class="content-insider">
                    <h3>Basic Calculator</h3>
                    <h4>Language: JAVA</h4>
                </div>
                <div>
                    <img src="{% static 'images/calculator.png' %}" alt="">
                    <p>
                        This is basically a simple basic Calculator app for android and also the first UI Android
                        Application I made,
                        which just perform mathematical operations like adding, subtracting, multiplication & division.
                    </p>
                </div>
                <div class="content-insider">
                    <a href="#">Read Full Article...</a>
                    <button
                        onclick="window.location.href = 'https://drive.google.com/file/d/1b3jQ4Jp5xiV3uOadlkToza85E4Mjbq1q/view?usp=drivesdk'">Download</button>
                </div>
            </article>

            <article class="content">
                <div class="content-insider">
                    <h3>Connexchange</h3>
                    <h4>Language: Flutter</h4>
                </div>
                <div>
                    <img src="{% static 'images/main_logo.png' %}" alt="">
                    <p>
                        This is an application for exchanging our all social connections with just one click or say
                        scan.
                        In this application you have to just setup for 1st time with your all usernames and thi app will
                        make a single qr code for all those usernames, then you have to just share that qrcode to anyone
                        for getting followers in every social media account.
                    </p>
                </div>
                <div class="content-insider">
                    <a href="#">Read Full Article...</a>
                    <button onclick="window.location.href = '#'">Download</button>
                </div>
            </article>
            <article class="content">
                <div class="content-insider">
                    <h3>Spotify Clone</h3>
                    <h4>Language: Flutter</h4>
                </div>
                <div>
                    <img src="{% static 'images/spotify.png' %}" alt="">
                    <p>
                        This is Just a clone application of Spotify, which is looking and working exactly like Spotify.
                        It's just for a project.
                    </p>
                </div>
                <div class="content-insider">
                    <a href="#">Read Full Article...</a>
                    <button onclick="window.location.href = '#'">Download</button>
                </div>
            </article>

            <article class="content">
                <div class="content-insider">
                    <h3>Media Gallery with User Registration</h3>
                    <h4>Language: Flutter</h4>
                </div>
                <div>
                    <img src="{% static 'images/gallery.png' %}" alt="">
                    <p>
                        This is an application in which first of all user has to register himself and further In future,
                        user has login with their credentials. And it's just a basic media gallery app in which you can
                        sow the gallery All gallery features are present, they are including zoom rotate, etc.
                    </p>
                </div>
                <div class="content-insider">
                    <a href="#">Read Full Article...</a>
                    <button onclick="window.location.href = '#'">Download</button>
                </div>
            </article>
            <article class="content">
                <div class="content-insider">
                    <h3>Freelancing Application</h3>
                    <h4>Language: Flutter</h4>
                </div>
                <div>
                    <img src="{% static 'images/service_provider.png' %}" alt="">
                    <p>
                        This is an application just like other Freelancing Applications, here you can post your
                        freelancing work And if anyone want to work with your freelancing worker, he can just apply
                        directly.
                    </p>
                </div>
                <div class="content-insider">
                    <a href="#">Read Full Article...</a>
                    <button onclick="window.location.href = '#'">Download</button>
                </div>
            </article>

        </div>
    </section>
    <!-- ============================================================================================== -->


    <!-- ============================================================================================== -->
    <section class="feedback">
        <div class="centered">
            <hr>
            <br>
            <h2>Feel free to share your feedback or Suggestions</h2>
            <br>
            <form action="https://send.pageclip.co/8tin7MDOZockzWEpv6De9dOPvb7Y6Mcp" class="pageclip-form"
                method="post">

                <div class="feedinput">
                    <h4>Name: <input type="text" name="name" required></h4>
                    <h4>Email: <input type="email" name="email" required></h4>
                    <h4>Phone: <input type="tel" name="phone"></h4>
                    <h4>Screenshot (If Any): <input type="file" name="screenshot"></h4>
                    <h4>Description: <textarea name="description" cols="50" rows="5" required></textarea></h4>
                </div>
                <br>
                <button type="submit" class="pageclip-form__submit submitbtn">
                    <span>Send</span>
                </button>
            </form>
        </div>
    </section>

    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script defer src="/_vercel/insights/script.js"></script>
    <script src="https://s.pageclip.co/v1/pageclip.js" charset="utf-8"></script>

</body>



<!-- THIS IS MADE BY - RISHI RAJ -->
{% endblock body %}